.Section {
  background-color: rgb(218, 218, 218);
  padding: 25px;
  border-bottom: 3px solid white;
}

.description {
  color: gray;
  font-style: italic;
  font-size: smaller;
}

.subDescription {
  color: gray;
  font-size: small;
}